$light-text-color: #ddd;
$dark-text-color: #333;
$header-color: $dark-text-color;
$secondary-dark-button-color: $dark-text-color;
$footerHeight:88px; //todo: don't rely on this for ensuring footer is at bottom of page if not enough content in main
$headerHeight:48px; //todo: don't rely on this for ensuring footer is at bottom of page if not enough content in main